@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body{
  color: white !important;
  background: #282c34 !important;
}

h1{
  font-family: 'Indie Flower', 'cursive' !important;
}

button{
  font-family: 'Indie Flower', 'cursive' !important;
}